<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <h1 id="db-text">Vítejte, <%= user.username %></h1>
    <% if (isAdmin) { %>
        <p id="admin">Jste přihlášen jako admin.</p>
    <% } %>
    <form action="/logout" method="POST" id="db-form">
        <button type="submit">Odhlásit se</button>
    </form>
    <a href="/"><button type="submit">Hlavní nabídka</button></a>
    <% if (isAdmin){ %>
        <table>
            <tr>
                <th>ID objednávky</th>
                <th>E-mail</th>
                <th>Telefon</th>
                <th>Produkty</th>
            </tr>
            <% orders.forEach(order => { %>
                <tr>
                    <td><%= order.id %></td>
                    <td><%= order.email %></td>
                    <td><%= order.telefon %></td>
                    <td><%= order.produkty %></td>
                </tr>
            <% }); %>
        </table>
        <% } %>
</body>
</html>