<!DOCTYPE html>
<html>
<head>
    <title>Zdravá žrádelna</title>
    <link rel="stylesheet" href="/style/dashboard.css">
    
</head>
<body>

    <h1 id="db-text">Vítejte, <%= user.username %></h1>
    <% if (isAdmin) { %>
        <p id="admin">Jste přihlášen jako admin.</p>
    <% } %>
    <form action="/logout" method="POST" id="db-form">
        <button type="submit">Odhlásit se</button>
    </form>
    <a href="/"><button type="submit">Hlavní nabídka</button></a>
    <% if (isAdmin){ %>
        <table>
            <tr>
                <th>ID objednávky</th>
                <th>E-mail</th>
                <th>Telefon</th>
                <th>Produkty</th>
                <th>Stav</th>
                <th>Upravit</th>
            </tr>
            <% orders.forEach(order => { %>
                <tr>
                    <td><%= order.id %></td>
                    <td><%= order.email %></td>
                    <td><%= order.telefon %></td>
                    <td><%= order.produkty %></td>
                    <% if(order.vyrizena === 0){ %>
                    <td>Nevyřízena</td>
                    <% }else{ %>
                        <td>Vyřízena</td>
                        <% } %>
                        <td class="actions">
                            <form action="/delete-order" method="POST">
                                <input type="hidden" name="orderId" value="<%= order.id %>">
                                <button type="submit">Smazat</button>
                            </form>
                            <form action="/toggle-order" method="POST">
                                <input type="hidden" name="orderId" value="<%= order.id %>">
                                <button type="submit">Změnit stav</button>
                            </form>
                </tr>
            <% }); %>
        </table>
        <% } %>
   
</body>
</html>