<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=titulek%></title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&family=Shantell+Sans:wght@300&display=swap"
        rel="stylesheet">
    <script type="module" src="script.js" defer></script>
</head>

<body>
  
    <% if (typeof user !== 'undefined' && user) { %>
        <a href="/dashboard"><button><%= user.username %></button></a>
    <% } else { %>
        <a href="/user"><button>Přihlásit se</button></a>
    <% } %>

    <h2 class="nadpis1">Aktuální nabídka</h2>

    
    <div class="button">
        <button id="tlacitko"> Seřadit podle ceny </button>
        <button><a href="/kosik"> košík </a></button>
        
    </div>
   
    <div id="kontejner">
        <% for(const produkt of produkty){ %>
        
            <article class="sell">
                <img  class="img2" src="/images/<%=produkt.img %>">
                <h3 id="polozka1"><%= produkt.nazev %></h3>
                <div>
                   <br>
             <a id="cena1" class="cena"><%= produkt.cena %> Kč</a><br>
                    <br>
             <a id="koupit"  href="/pridat-do-kosiku?id=<%= produkt.produkt_id %>">Koupit</a>
                </div>
 
            </article>
       
      <%  } %>



        

       


 
</div>
    <footer>
        <div>
           <br> Vytvořil Aleš Hlaváček
        </div>

        <div>
            Kontaky: <br>
            Telefon: 123456789<br>
            Email: email@email.com
        </div>
    </footer>
</body>

</html>